.container.swiper {
  width: 92%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-text h1 {
  font-size: 2.5rem;
  margin-bottom: 0.3rem;
}

span {
  color: rgb(204, 96, 96);
}

.swiper-text h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 4rem;
}


.slide-container {
  margin: 0 1.25rem;
  overflow: hidden;

}

.swiper-text {
  text-align: center;
  margin: 0 13%;
}

.card {
  background: #fff;
  border-radius: 0.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card .movie-details {
  text-align: end;
  padding: 1% 8%;
  color: rgba(255, 255, 255, 0.007);
  transition-duration: 0.5s;
  height: 30rem;
  cursor: grab;
}

.card .movie-details:active {
  cursor: grabbing;
}

.movie-details:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.377);
  backdrop-filter: blur(3px);
}

.movie-details .title {
  font-size: 3vw;
  font-weight: 500;
}

.movie-details .description {
  font-size: 2.5vw;  
  font-weight: 300;
}

.movie-details p {
  margin-top: 1rem;
  font-size: 1.5vw;  
  font-weight: 200;
}