.container.swiper {
  width: 92%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-text h1 {
  font-size: 2.5rem;
  margin-bottom: 0.3rem;
}

span {
  color: rgb(204, 96, 96);
}

.swiper-text h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

.swiper-footer {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 1.5rem;
  color: rgb(165, 165, 165);
}

.slide-container {
  margin: 0 1.25rem;
  overflow: hidden;
}

.swiper-text {
  text-align: center;
  margin: 0 13%;
}

.card {
  background: #fff;
  border-radius: 0.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.card .movie-details {
  text-align: end;
  padding: 30% 8% 10% 8%;
  color: rgba(255, 255, 255, 0.007);
  transition-duration: 0.5s;
  height: 20vw;
  cursor: grab;
}

.card .movie-details:active {
  cursor: grabbing;
}

.movie-details:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.377);
  backdrop-filter: blur(3px);
}

.movie-details .title {
  font-size: 1.6vw;
  font-weight: 500;
}

.movie-details .description {
  font-size: 1vw;  
  font-weight: 200;
}

.swiper-wrapper{
  display:flex;
}

.swiper-slide{
  flex-shrink: 0;
}

@media only screen and (max-width: 800px) { 
  .card .movie-details { 
    height: 40vh;   
    padding: 80% 8% 10% 8%;
  }
  .title-description .title {
    font-size: 2.5vw;
  }
  .title-description .description {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 670px) {  
  .title-description .title {
    font-size: 3vw;
  }
  .title-description .description {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 600px) { 
  .swiper-text h1  {
    font-size: 7vw;
  }
  .swiper-text h2 {
    font-size: 4vw;
  }
  .swiper-footer {
    font-size: 3.3vw;
  }

  .card .movie-details { 
    padding: 100% 8% 10% 8%;
  }

  .title-description .title {
    font-size: 3vw;
  }
  .title-description .description {
    font-size: 3vw;
  }
}