.container.swiper {
  width: 92%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-text h1 {
  font-size: 2.5rem;
  margin-bottom: 0.3rem;
}

span {
  color: rgb(204, 96, 96);
}

.swiper-text h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 4rem;
}


.slide-container {
  margin: 0 1.25rem;
  overflow: hidden;
}

.swiper-text {
  text-align: center;
  margin: 0 13%;
}

.card {
  background: #fff;
  border-radius: 0.5rem;
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-navBtn {
  color: rgb(255, 255, 255);
  height: 2.5rem;
  width: 2.5rem;
  background: rgb(179, 114, 114);
  border-radius: 50%;
  margin: 50px 0;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 1.2rem;
}

.swiper-pagination-bullet {
  background-color: rgb(223, 117, 117);
}

.card .movie-details {
  height: 100%;
  text-align: end;
  padding: 1.5rem;
  color: rgba(255, 255, 255, 0.007);
  transition-duration: 0.5s;
}

.movie-details:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.377);
  backdrop-filter: blur(3px);
}

.movie-details .title {
  font-size: 1.5rem;
  font-weight: 500;
}

.movie-details .description {
  font-size: 0.75rem;
  font-weight: 500;
}

.movie-details p {
  margin-top: 1rem;
  font-size: 0.7rem;
  font-weight: 200;
}