#devices {
  background-color: rgb(223, 117, 117);
  color: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#container-usabilidad {
  margin: 7% 7%;
}

#container-usabilidad h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.usability-desc {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.img-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 4rem 10%;
  gap: 4rem;
}

.img-text img {
  height: 26vw;
}

.tipos-uso {
  display: flex;
  gap: 5rem;
  column-gap: 5rem;
}

.tipos-uso .columna {
  text-align: center;
  align-items: center;
}

.columna .elemento img {
  height: 4rem;
}

.elemento p{
  margin-bottom: 3rem;
  font-size: 60%;
}

@media only screen and (max-width: 815px) { 
  .img-text {
    display: block;
    text-align: center;
    padding: 2rem 0;
  }
  .img-text img {
    width: 70%;
    height: auto;
  }
  .tipos-uso {
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;    
    justify-content: center;
  }
  .tipos-uso .columna {
    display: flex;
    gap: 1.5rem;    
  }  
  .columna .elemento img {
    height: 6vw;
    width: auto;
  }
}

@media only screen and (max-width: 600px) { 
  #container-usabilidad h1 {
    font-size: 7vw;
  }
  .usability-desc {
    font-size: 4vw;
  }
  .img-text img {
    width: 90%;
  }
}

@media only screen and (max-width: 251px) { 
  /*.tipos-uso {
    display: none;
  }
  .img-text {
    display: none;
  }*/
}
