.footer-container {
  width: 100%;
  background-color: rgb(209, 111, 111);
  color: #fff;
  padding: 1.8rem 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-section .logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 0.6rem; 
  height: 40px;
}

.footer-section h2 {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.footer-bottom {
  text-align: center;
}

.footer-bottom p {
  font-size: 0.8rem;
}

@media only screen and (max-width: 520px) { 
  .footer-content {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 10%;
  }
  .logo {
    justify-content: center;
    padding-right: 1rem;
  }
  .footer-bottom {
    margin-top: 0.4rem;
  }
  
}