.header {
  padding: 0.7em 8%;
  margin: 0 10%;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; 
  background: rgba(0, 0, 0, 0.25); 
  backdrop-filter: blur(8px); 
}

.container_header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  color: rgb(241, 239, 239);
  text-decoration: none;
}

.logo img {
  height: 50px;
  margin-right: 0.5em;
}

.logo p {
  font-weight: 700;
  font-size: 0.8em;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-left: -100%;
}

.nav-links ul {
  display: flex;
  list-style: none; 
}

.nav-links ul li a {
  color: rgb(241, 239, 239);
  font-size: 0.6em;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-left: 30px;
  text-decoration: none; 
}

.nav-links ul li a:hover {
  color: rgb(205, 112, 112);
  transition: all 0.2s;
  font-weight: bolder;
}

.menu-hamburger {
  display: none;
  cursor: pointer;
}

.close-icon {
  display: none;
  cursor: pointer;
}


@media only screen and (max-width: 680px) { 
  .nav-links {
    display: none;
  }
  .menu-hamburger {
    display:block;
    position: absolute;
    top: 1.15em;
    right: 8%;
    width: 1.6em;
    cursor: pointer;
  }
  .close-icon {
    display: block;
    position: absolute;
    top: 1.15em;
    right: 8%;
    width: 1.1em;
  }
  .nav-links.menu-open {
    display: block;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    width: 100%;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
  }
  .nav-links.menu-open ul {
    flex-direction: column;
    align-items: center;
    margin: 0; 
    width: 80%;
    font-size: 2.2rem;
  }
  .nav-links.menu-open ul li {
    margin: 15px 0; 
  }
  .header.menu-open {
    background: rgba(0, 0, 0, 0.45); 
    backdrop-filter: blur(10px); 
    position: fixed;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  
}